<div class='heading'>
  <h2 class="header_side_menu">
    <i class="fa fa-caret-right" aria-hidden="true"></i>
    <a href='#!/{{{sanitize id}}}' class="toggleEndpointList" data-id="{{{sanitize id}}}">{{{sanitize name}}}</a>
  </h2>
</div>
<ul class='endpoints' id='{{{sanitize id}}}_endpoint_list' style='display:none'>

</ul>
